<h1>Listing pending_titles_for_collections</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pending_titles_for_collections.each do |pending_titles_for_collection| %>
  <tr>
    <td><%= link_to 'Show', pending_titles_for_collection %></td>
    <td><%= link_to 'Edit', edit_pending_titles_for_collection_path(pending_titles_for_collection) %></td>
    <td><%= link_to 'Destroy', pending_titles_for_collection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pending titles for collection', new_pending_titles_for_collection_path %>
