<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
		Collectionapp.initShelf('div_book_shelf');
	});
<% end -%>

<div class='span-9'> <br/></div>
            
<% if user_signed_in? %>
    <% if current_user.isKid? %>
      <%= render :partial => "kid_index" %>
    <% else %>
      <%= render :partial => "parent_index" %>
    <% end %>
<% else %>
      <%= render :partial => "all_index" %>
<% end %>