<div class="span-24" style="background: url(../images/inq_box.png) repeat-y;">
  
    <div class="breadcrumb"> SELECT CITY >> BRANCH </div>
	<div class="span-24">
    <div id="inner-details"></div>
    <div id="center-container"> 
        <div id="infovis"><br/></div>    
    </div> 
  </div>
</div>
<%= content_for :javascript do -%>
  Sessionapp.ChartData["<%= "infovis" %>"] = <%= raw jitTreeChart().to_json %>;
<% end -%>
<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
		Sessionapp.showPanel();
	});
<% end -%>
