<h1>Listing book_lists</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_lists.each do |book_list| %>
  <tr>
    <td><%= link_to 'Show', book_list %></td>
    <td><%= link_to 'Edit', edit_book_list_path(book_list) %></td>
    <td><%= link_to 'Destroy', book_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book list', new_book_list_path %>
