.masthead {
  background: url(../images/header-bar.png);
  margin:0px;
  height:112px; 
  background-repeat:no-repeat;
  background-position:right;
}
#logo {
	position:relative;
	top:10px;
	left:70px;
}

.footer {
  background: url(../images/footer-bar.png);
  margin:0px;
  height:47px; 
  background-repeat:no-repeat;
  background-position:right;
  font:Arial;
  font-size:12px;
  
}

#footer {
	position:relative;
	bottom:10px;
	left:40px;
  color: #DBDBDB;
  font:Arial;
  font-size:12px;
}

.background{
  background: url(../images/bg.jpg);
  background-repeat:repeat;
  background-position:right;
  z-index: -2;
}

.empty_shelf{
  background: url(../images/shelf-box.png);
  height:408px; 
  width: 928px;
  background-repeat:no-repeat;
  background-position:right;
  -o-background-size:100% 100%;             /*  Opera  */
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;           /*not working in Firefox as yet */
}


.shelf_7_89{
  height:408px; 
  width: 928px;
  padding:5px 0px 10px 10px;  
}

.shelf_single{
  background: url(../images/top-shelf.png);
  height:141px; 
  width: 933px;
  background-repeat:no-repeat;
  background-position:right;
  
  
}

.title{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:0px 0px 0px 0px;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
  background-image:url(../images/grey-butn-mid.png); 
  background-position:left top; background-repeat:repeat-x;
}

.title p{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:4px 0px 0px 0px;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
  background-image:url(../images/grey-butn-rght.png); 
  background-position:right top; background-repeat:no-repeat;
  text-align:bottom;  
  width: 105%;
}

.title a{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding: 5px 30px 5px 0px;
  background-image:url(../images/arrow-grey.png); 
  background-position:right top; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
  
}

.title a:hover{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:5px 30px 5px 0px;
  background-image:url(../images/arrow-white-right.png); 
  background-position:right top; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}
#title{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:0px 0px 0px 15px;
  background-image:url(../images/grey-butn-left.png); 
  background-position:left top; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.bar{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:5px 0px 0px 10px;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.bar a{
  height:32px;
  margin:0px 0px 0px 0px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding: 10px 30px 4px 10px;
  background-image:url(../images/arrow-grey.png); 
  background-position:right top; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.bar a:hover{
  height:32px;
  margin:0px 0px 0px 0px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:10px 30px 4px 10px;
  background-image:url(../images/arrow-white-right.png); 
  background-position:right top; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}
#bar{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:0px 0px 0px 5px;
  background-image:url(../images/myshelf.png); 
  background-position:left center; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.page{
background:url(../images/spiral-1.png) no-repeat;
}
.shelfname{
  height:32px;
  margin:0px 0px 0px 0px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:10px 0px 0px 10px;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}


.shelfname a{
  margin:4px 0px 0px 5px;
  color:#ffffff;
  font-weight:bold;
  padding:5px 0px 0px 5px;
  text-decoration:none;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}
.shelfname a:hover{
  background-position:right center; 
  //height:32px;
  margin:4px 0px 0px 5px;
  color:#ffffff;
  font-weight:bold;
  padding:5px 0px 0px 5px;
  text-decoration:none;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}
.shelf-0{height:132px;
width:125px;}

.shelf-1{height:132px;
width:125px;
//background:url(../images/titile-bar-1.png);
//background-position:5px 5px; background-repeat:no-repeat;
}
.shelf-2{height:132px;
width:250px;
//background:url(../images/titile-bar-1.png);
//background-position:5px 5px; background-repeat:no-repeat;
}
.shelf-3{height:132px;
width:385px;
//background:url(../images/titile-bar-1.png);
//background-position:5px 5px; background-repeat:no-repeat;
}
.my-shelf{
height:132px;
width:125px;
background:url(../images/myshelf.png);
background-position:5px 5px; background-repeat:no-repeat;
}

.s-shelf{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:8px 0px 0px 5px;
  background-image:url(../images/myshelf.png); 
  background-position:left center; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.s-shelf a{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:0px 0px 0px 5px;
  background-image:url(../images/myshelf.png); 
  background-position:left center; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.s-shelf a:hover{
  height:32px;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  padding:0px 0px 0px 5px;
  background-image:url(../images/myshelf.png); 
  background-position:left center; background-repeat:no-repeat;
  font-family: "Tw Cen MT Condensed";
  font-size:14px;
}

.btn_link{
background:url(../images/borrow.png) no-repeat;
padding:3px 0px 0px 0px; 
height:32px; 
width:113px; 
color:#ffffff;
text-align:center;  
font-size:14px;
font-family: "Tw Cen MT Condensed";
font-weight:bold;
border-color:#white;
border-width:0px;
}

.btn_link a{
color:#ffffff;
text-align:center;  
font-size:14px;
font-family: "Tw Cen MT Condensed";
font-weight:bold;
text-decoration:none;
  border-color:#white;
 
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
.greybox{
	background-color:#C0C0C0;
  border-style:solid;
  border-width: 1px;
  border-color:#8B8B8B;
  margin: 2px 2px 2px 2px;
  padding: 5px 5px 5px 5px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  background: #B51F24;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

.redbox {
	background-color:#00CCFF;
}
.bookpage{
  height:250px; 
  overflow:scroll; 
  border-style:solid;
  border-width: 0px 0px 0px 0px;
  border-color:#ffffff;
  width:250px;
}
.bookpage_back{
  height:198px; 
  overflow:hidden; 
  border-style:solid;
  border-width: 0px 0px 0px 0px;
  border-color:#ffffff;
  width:430px;
  background-color:#ffffff;
  padding: 1em 1.5em 1.5em 1em; 
}
.whitebox {
	background-color:#ffffff;
  border-style:none;
  border-width: 0em;
  /*border-color:#8B8B8B;*/
   background: url(../images/bookshelfleft.png)  no-repeat; 
   
  margin: 2em 2em 2em 2em; 
}
.greybox1{
	background-color:#C0C0C0;
  border-style:solid;
  border-width: .5em;
  border-color:#8B8B8B;
  width: 11em;
   height:14em;
   z-index :0;
  margin: 1em 1em 1em 1em;
}
.greybox2 {
	background-color:#8B8B8B;
  border-style:solid;
  border-width: .2em;
  border-color:#ffffff;
  width: 13em;
   height:16em;
   z-index :2;
}

input.readonly {
	border:none;
}
input.link{
	border:none;
  background-color:olive;
  color:white;
}
input.link:hover{
	border:none;
  text-decoration:underline;
  color:white;
}
.spacer {
	background-color:#B51F24;
	height:2px;
	margin-top:20px;
	margin-bottom:20px;
}

.comment { width: 370px; height: 15px; }

.stockchart {
	height:80px;
	width:450px;
	border-width:2px;
	border-color:black;
	border-style:dotted;
}

.statchart {
	height:250px;
	width:620px;
	border-width:1px;
	border-color:black;
	border-style:dotted;
}

.tooltip {
	background-color:lightblue;
	border-width:1px;
	border-color:black;	
	border-style:solid;	
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(../images/up_arrow.gif);
}

th .desc {
  background-image: url(../images/down_arrow.gif);
}

.field_error {
	border:solid red;
}

.planbox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	display:block;
  width: 200px;
  color: #fff;
  background: #B51F24;
  padding: 10px;
}

.planbox-title {
	text-decoration: underline;
	color:black;
	text-align:center;
	font-size:150%;
	font-weight:bold;
	display:block;
}

.planbox-rupee-symbol {
	font-weight:normal;
	font-size:20px;
	width:10px;
	position:absolute;
	padding-left:10px;
	padding-top:10px;
}

.planbox-rupee {
	text-align:center;
	font-size:50px;
	margin-left:22px;	
}

.planbox-paise {
	font-weight:normal;
	font-size:15px;
	width:10px;
	position:absolute;
	padding-top:10px;
}

.planbox-freemonths {
	font-size:15px;
}

.planbox-fees {
	text-align:left;
}

.plan-buttonpanel {
	display:block;
  width: 368px;
	margin-bottom:20px;
  background: lightgrey;
	margin-left:48px;
}

.plan-button {
	font-weight:bold;
  text-align: center;
	display:inline-block;
  width: 100px;
	padding: 10px;
  color: #fff;
}

.plan-button-current {
  background: #B51F24;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.plan-category {
	font-weight:bold;
	font-size:120%;
}

input.simple {
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:solid;
	margin:0px;
	padding:0px;
	padding-top:4px;
	font-size:16px;
}

.menu-button {
	width:81px;
}

.menu-icon {
	width:100%;
	margin-left:7px;
}

.menu-text {
	text-align:center;
	width:100%;
}

.menu-color {
	background: #B51E24;
	border: 5px ridge #B51E24;
	color: #fff;
}

table.form tbody tr:nth-child(even) td, tbody tr.even td {background:#fff;}
table.form tbody td {font-size:120%;font-weight:normal;}

.first-row {
	padding:5px 0 5px 5px;
	background: url(../images/library_bg.jpg);
	font-size:12px;
}


/*navigation*/
#mainNav
{margin:0px; padding:0px 0px; height:50px;  }

#mainNav ul
{margin:0px; padding:0px; float:left; text-align:center; height:50px; width:625px; overflow:hidden;}



.mainNav{
margin:8px 0px 0px 0px; 
padding:0px; 
float:left; 
font-size:14px; 
font-weight:bold;  
color:#DBDBDB;
line-height:18px; 
text-align:center; 
text-decoration:none; 
list-style:none;
background: url(../images/menu-normal.png) no-repeat;
width:128px;

}

.mainNav a
{margin:0px; 
padding:5px 0px 0px 0px; 
float:left; 
height:32px; 
font-size:14px; 
font-weight:bold; 
color:#DBDBDB;
line-height:18px; 
text-align:center;
text-decoration:none; 
list-style:none;
width:128px;
background: url(../images/menu-normal.png) no-repeat;
}

.mainNav a:hover{
margin:0px; 
padding:5px 0px 0px 0px; 
float:left; 
height:32px; 
font-size:14px; 
font-weight:bold; 
color:#ffffff; 
line-height:18px; 
text-align:center; 
text-decoration:none; 
list-style:none;
background: url(../images/menu-select.png) no-repeat;

}

.mainNavSeperator01
{margin:8px 0px 0px 0px; padding:0px; float:left;  width:20px; height:37px; list-style:none;}

.mainNavSeperator02
{margin:8px 0px 0px 0px; padding:0px; float:left; background-color:#DBDBDB; width:2px; height:37px; list-style:none;}


.mainNavOn
{margin:8px 0px 0px 0px; padding:0px; float:left; font-size:14px; font-weight:normal; color:#FFFFFF; line-height:18px; text-align:center; text-decoration:none; list-style:none;}

.mainNavOn a
{margin:0px; padding:5px 12px 0px 12px; float:left; height:32px; font-size:14px; font-weight:normal; color:#BF0000; background-color:#FFFFFF; line-height:18px; text-align:center; text-decoration:none; list-style:none;}

.mainNavOn a:hover
{margin:0px; padding:5px 12px 0px 12px; float:left; height:32px; font-size:14px; font-weight:normal; color:#BF0000; background-color:#FFFFFF; line-height:18px; text-align:center; text-decoration:none; list-style:none;}


.searchSection
{margin:2px 0px 0px 0px; padding:0px 0px 0px 10px; float:right; font-size:14px; width:185px; height:50px;
background: url(../images/search.png) no-repeat;
font-size:14px; 
font-weight:bold; 
font-family: "Tw Cen MT Condensed";

}

input.searchTextbox{border:none; font-size:14px; 
font-weight:bold; font-family: "Tw Cen MT Condensed";
color:gray;}
input.search_button{height:25px;width:35px; float:right;}


.searchListBox
{margin:0px 2px 0px 5px; padding:0px; height:20px; border:0px; font-size:14px; 
font-weight:bold;  color:gray;line-height:15px; border:1px solid #CCCCCC;font-family: "Tw Cen MT Condensed";}


/*navigation ends */

.toplinkText
{
  margin:8px 0px 0px 0px; 
  background: url(../images/text.png) no-repeat;
  font-family: "Arial";
  padding: 4px 0px 0px 0px;
  height: 32px;
  width: 104px;
  text-align:center;
  color: #ffffff;
  line-height:18px; 
  font-size: 13px;
  
}

.toplink{
margin:8px 0px 0px 0px; 
padding:5pxpx; 
float:left; 
font-family: "Tw Cen MT Condensed";
font-size:14px; 
font-weight:bold;  
color:#ffffff;
line-height:18px; 
text-align:center; 
text-decoration:none; 
list-style:none;
background: url(../images/parents.png) repeat;
width:104px;

}

.toplink a
{
margin:0px; 
padding:5px 0px 0px 0px; 
float:left; 
height:32px; 
font-size:14px; 
font-weight:bold; 
font-family: "Tw Cen MT Condensed";
color:#ffffff;
line-height:18px; 
text-align:center;
text-decoration:none; 
list-style:none;
width:104px;
background: url(../images/parents.png) no-repeat;
}

.toplink a:hover{
margin:0px; 
padding:5px 0px 0px 0px; 
float:left; 
height:32px; 
font-size:14px; 
font-weight:bold; 
font-family: "Tw Cen MT Condensed";
color:#ffffff; 
line-height:18px; 
text-align:center; 
text-decoration:none; 
list-style:none;
background: url(../images/settings1.png) no-repeat;

}
.setting{
	background-color:#ffffff;
  border-style:none;
  border-width: 1px;
  border-color:#8B8B8B;
  padding: 0em 0em 0em 2em;
}
p.settingtext{
color:white;
font-weight:bold; 
text-align : center;
height:32px;
width:136px;
padding: 6px 0px 10px 0px;
background: url(../images/settings.png) no-repeat;
}
.heading{
color:#666666;
font-weight:bold; 
text-align : center;
height:32px;
width:175px;
padding: 13px 0px 0px 0px;
background: url(../images/heading.png) no-repeat;
}

.breadcrumb{

background: url(../images/label-blue.png) no-repeat;
height:29px;
width:212px;
color:#ffffff;
font-weight:bold; 
text-align :center;
font-family: "Tw Cen MT Condensed";
font-size:14px;
}
.rite {float:right !important;}


div.dialog{
      display:none;
      /*border: solid #CCCCCC 2px;*/
      background: url(../images/login-bg.png) repeat-y;
      padding: 20px 10px 10px 20px;
      font-size:13px; 
      font-weight:bold; 
      color:#ffffff; 
      height:230px;
      width: 280px;
      overflow-x: hidden;
      overflow-y:auto;
      font-family: "Tw Cen MT Condensed";
    }

    

div.input_box{

height:407px;
width:934px;
background: url(../images/input_box.png) no-repeat;
padding: 10px 10px 10px 20px;

}

div.inner_box{

padding: 10px 30px 10px 40px;

}

a.renew, a.rcancel{
  text-decoration:none;
  font-size:14px; 
  
}


a.renew:hover, a.rcancel:hover{
  color:#ffffff;
  text-decoration:underline;
}

.planbox{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display:block;
  text-decoration: none;
  width: 200px;
  color: #fff;
  background: #B51F24;
  padding: 10px;

}

.planbox-indiv {
  margin: 5px 2px 10px 2px;
  text-align: left;
  width: 230px;
  height: 280px;
  color: #fff;
  font-size:12px;
  background: #175E9D;
  padding:5px 5px 10px 5px;
  border-width:1px;
}

.planbox-indiv a{
  color: #ffd324;
  background: #175E9D;
  border-width:1px;
  text-decoration:none;
  font-size:12px;
}

.planbox-indiv a:hover{
  font-weight: bold;
  font-size:12px;
  text-decoration:underline;
}
