<%= form_for(@renewal) do |f| %>
  <% if @renewal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renewal.errors.count, "error") %> prohibited this renewal from being saved:</h2>

      <ul>
      <% @renewal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
