<div class="span-25">
<h1>Listing renewals</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @renewals.each do |renewal| %>
  <tr>
    <td><%= link_to 'Show', renewal %></td>
  </tr>
<% end %>
</table>

<br />

</div>