<div class="span-25">
<div class="input_box">
  <div class="breadcrumb"> SETTINGS </div>
      <div class="inner_box">  
        <div class="heading"> MY PROFILE INFORMATION </div>
        <%= render :partial => "profile", :locals=>{:user => @user} %>
        
      </div>
    
</div>
</div>