<div class="span-25">
<div class="input_box">
  <div class="breadcrumb"> My Account </div>
      <div class="inner_box">  
        <%= render :partial => "profile", :locals=>{:user => @user} %>
        
      </div>
    
</div>
</div>