
<div class='span-25 prepend-5 prepend-top'>

<div class="span-25" style="height:619px; background: url(../images/showpowai.jpg) no-repeat;  ">


<div class="span-24 prepend-8" >
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

<!--p id="notice" style="color:white"><b><%= notice %></b></p-->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
  </div>
</div>
</div>