<div class="span-24" style="background: url(../images/inq_box.png) repeat-y;">
<div class="breadcrumb"> ABOUT US </div>
  <div class="span-22 prepend-2">
    
    <div class="span-22">
      <div class="span-21">
						<!-- review block 01 -->
		  				<p> <br/>Just Books clc is a new generation community library chain that provides a unique reading experience to book lovers with a wide range of books for every type of reader  Toddlers to teens, Dabblers to Bookworms under a modern, vibrant ambience with effective use of technology. Like we love saying - <i> At Just Books, there is a book for everyone in the family </i> <br/>
                Proven practices from the retail industry, like warehouse backed operations with centralized inventory and some new generation technology usage like cloud hosted infrastructure with RFID enabled touch points combine to meet the ultimate goal of every library - <i>Get every book a reader and get every reader his/her book </i>. <br/>
                Started by a team of Retail and Technology professionals, incubated and nurtured at NSRCEL - IIM Bangalore, JUST BOOKS clc aspires to be the country's first networked pan Indian community library chain catering to Indian reading requirements.	</p>

             <div style="padding-top:15px;"></div>
						  <div class="span-9">
						  	<h3>Profile</h3>
						  	<p>With over 3,00000 books across different categories, Just Books offers a wide range of titles to its members in any age group.<br/>
						     Just Books revolutionizes some of the routine book circulation activities of a library by introducing RFID based unmanned kiosks for members to choose a book and check-out from the library without any time consuming manual processing.<br/>
						     Extending beyond the traditional book centric cataloguing and classification functions of a library, Just Books offers a range of reader centric services to its members including free door delivery, personalized reading recommendations and the luxury of maintaining a personal Read-Next-Register to queue up all the titles that a member wishes to read.<br />
					      </p>
						  </div>
						  <div class="span-9 prepend-1">
                <h3>Collections</h3>
                <p>The truly amazing range of Indian &amp; International titles in the Toddler-to-Teen collection of Just Books is specially designed to entertain and educate the young readers. For readers who prefer their regular dose of Fiction, Just Books offers a good mix of popular bestsellers as well as critically acclaimed, award winning titles.<br/>
                 If you enjoy relating to your roots, the Regional collection of Just Books may bring back memories of your past. With a Sujatha or Kuvempu or Thakazhi, you may just get to turn the clock back on your reading experience.<br/>
                 The Non-Fiction section of Just Books has the latest popular books on Management &amp; Leadership; Finance &amp; Investments, Spirituality, Philosophy, Self help techniques, Travel, Health, Parenting, Cookery and more.<br/>
                 For people who are the kind who love browsing through magazines, Just Books is just the place. Just Books has a nice collection of magazines in a whole lot of diverse sections like business, sports, fashion, women magazines, health, technical etc. </p>
              </div>
						  
                      
      </div>
                  
    </div>
  </div>
</div> 