<div class="span-24" style="background: url(../images/inq_box.png) repeat-y;">
<div class="breadcrumb"> CONTACT US </div>
  <div class="span-22 prepend-2">
    
    <div class="span-22">
      <div class="span-20">
        <p>
          <strong>STRATA RETAIL AND TECHNOLOGY SERVICES PVT LTD</strong><br />
                  24/1, Second Floor, 2nd Main, Ashta-Lakshmi Layout,<br />
                  Puttenahalli Main Road, J P Nagar 6th Phase,<br />
                  Bangalore 560078.
        </p>
      </div>
      <div class="span-20">
        <p>
          <span class="span-3"><b>Phone No</b> : </span><span class="span-16">+91 080 6001 5285, +91 080 4235 1760</span>
          <span class="span-3"><b>Customer Care</b>: </span><span class="span-16">+91 93799 05546</span>
          <span class="span-3"><b>OD Support</b>:</span><span class="span-16">+91 93792 73976</span>
          <span class="span-3"><b>Toll Free :</b></span><span class="span-16"> 1-800-102-2665 (Monday through Friday from 9:30 AM to 6:00 PM)</span>
        </p>
      </div>
      <div class="span-20">
        <hr/>
      </div>
      <div class="span-20">
        <p>
          <span class="span-20"><strong>CONTACT US FOR</strong></span>
          <span class="span-4"> General Queries  : </span><span class="span-15"> <a href="mailto:manager@justbooksclc.com">manager@justbooksclc.com</a></span>
          <span class="span-4"> Marketing Queries  : </span><span class="span-15"> <a href="mailto:manager@justbooksclc.com">marketing@justbooksclc.com</a></span>
          <span class="span-4"> Franchisee Inquiries  : </span><span class="span-15"> <a href="mailto:fdteam@justbooksclc.com">fdteam@justbooksclc.com</a></span>
          <span class="span-4"> Careers Opportunities  : </span><span class="span-15"> <a href="mailto:manager@justbooksclc.com">careers@justbooksclc.com</a></span>
          <span class="span-4"><b>Customer Support</b> : </span><span class="span-15"> <a href="mailto:manager@justbooksclc.com">customercare@justbooksclc.com</a></span>
        </p>  
        <p><a href="/stores">STORES</a></p> 
      </div>
                  
    </div>
  </div>
</div> 