<div class="span-24" style="background: url(../images/inq_box.png) repeat-y;">
<div class="breadcrumb"> TERMS AND CONDITIONS </div>
  <div class="span-22 prepend-2">
    
    <div class="span-22">
      <div class="span-20">
        <p>
                <p class="colFooterText">We recommend that you carefully go through our Terms of Use, to better understand the different features of our service. By subscribing to the registration process at Just Books, Members accept all items in the Terms of Use and agree to abide by and be legally bound by the Terms of Use.</p>
                <h3 class="hdr02 georgia">1. Eligibility</h3>
                <p class="colFooterText">Any individual with a postal address in Bangalore, Mumbai, Pune and Hyderabad and a local residence/work/ mobile contact number is welcome to sign up with Just Books. However, Just Books reserves the right to accept, or reject membership at its sole discretion. Membership is for personal use only, however, can be transferred with explicit communication to Just Books. No member may re-lend books borrowed from Just Books at any time.</p>
                <h3 class="hdr02 georgia">2. Plans &amp; Payment terms</h3>
                <p class="colFooterText">By subscribing to a specific membership plan of Just Books, the member is explicitly agreeing to pay the reading fee attached to the plan plus any applicable tax at the frequency specified by the plan. Any non-compliance with the payment terms in spite of 2 reminders will attract penalty of 10% per payment period on the amount due and may lead to cancellation of membership.</p>
                <h3 class="hdr02 georgia">3. Reading period and reading fee</h3>
                <p class="colFooterText">JustBooks CLC proposes a reasonable reading period with a restriction on the number of books that a member can hold at any point of time. No fine or any sort of a penalty will be levied for delayed return of books. However, under specific circumstances where many members wait on a copy for more than a month, JustBooks clc reserves a right to request for the book to be returned and members are expected to return the requested book within five days of the request. Reading fee should be paid as per the plan. In the event a member does not renew his/her subscription the company reserves the right to adjust the deposit amount towards the reading fees. If there is no balance in the deposit amount then the company will terminate the membership of that member.</p>
                <h3 class="hdr02 georgia">4. Lost or Damaged books</h3>
                <p class="colFooterText">At Just Books, we take utmost care to maintain books in good condition. Any anomaly (unprinted pages) or damage if found should be reported either at the front desk while getting the book issued or to the delivery executive if the book is delivered at the door. Failure to check and/or report the same will be constituted as the member having received a book in good condition. While returning the book, the front desk executive or the delivery executive (if the book is collected at the door) will check for any damage of book(s) and report to the member accordingly. The determination of a book being damaged will be at the sole discretion of Just Books. Members can choose to replace a lost or damaged book within 10 days or pay the penalty amount determined by Just Books. The damage policy is detailed below.</p>
                <div class="border4">
                	<table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tr>
                        <td width="50%" class="lostDamagedHdr">NATURE OF DAMAGE</td>
                        <td width="50%" class="lostDamagedHdr">AMOUNT THE MEMBER HAS TO PAY</td>
                      </tr>
                      <tr>
                        <td width="50%" class="lostDamagedText">If the book is lost</td>
                        <td width="50%" class="lostDamagedText">Total Cost of the Book + Rs. 50 for the Jacket and RFID Tag</td>
                      </tr>
                      <tr>
                        <td width="50%" class="lostDamagedText">Scribbling or torn page in Children's books</td>
                        <td width="50%" class="lostDamagedText">Rs. 30</td>
                      </tr>
                      <tr>
                        <td width="50%" class="lostDamagedText">Fine damage or torn page of any other book</td>
                        <td width="50%" class="lostDamagedText">60% of the cost of the book</td>
                      </tr>
                      <tr>
                        <td width="50%" class="lostDamagedText">Jacket or RFID tag missing</td>
                        <td width="50%" class="lostDamagedText">Rs. 30</td>
                      </tr>
                      <tr>
                        <td width="50%" class="lostDamagedTextLast">Magazine damage of any kind</td>
                        <td width="50%" class="lostDamagedTextLast">50% cost of the magazine</td>
                      </tr>
                    </table>
                </div>
                <h3 class="hdr02 georgia">5. Membership closure &amp; refund of deposit</h3>
                <p class="colFooterText">To discourage ad-hoc and short term membership, members are required to comply with a minimum membership term of three months. For members who subscribe to plans with a refundable deposit, any premature closure of membership in less than three months from the date of sign-up, will result in the reading fee for the remaining period of the mandatory term getting adjusted against the deposit. The rest of the deposit, however will be refunded. For members who subscribe to annual plans without deposit there is no refund applicable at the time of closure. Under extreme situations caused by non-compliance to the Terms of Use, Just Books reserves the right to terminate a membership for any or no reason.</p>
                <h3 class="hdr02 georgia">6. Definition of a BOOK</h3>
                <p class="colFooterText">Since the reading fee at Just Books is a flat rate and is not linked to the number of books read in a period, it is important to note that each title catalogued in Just Books gets the same treatment irrespective of size, cost &amp; target reader. Children's books are treated the same way as other books.</p>
                <h3 class="hdr02 georgia">7. Membership Card</h3>
                <p class="colFooterText">Each member of Just Books will get a RFID based membership card. No transaction at the library will be allowed without this card and a damaged or lost card will attract a replacement cost of Rs 100/- per card. Multiple cards for the same number can be obtained by paying an amount of Rs. 100 per extra card.</p>
                <h3 class="hdr02 georgia">8. Temporary suspension of membership</h3>
                <p class="colFooterText">JustBooks clc allows temporary suspension of membership provided the member has completed a 3 months membership period. To avail this benefit the member has to submit the temporary membership waiver form in writing at least 5 days prior to expiration of the membership. All books and magazines will be returned to us. The member will not be able to use the library during the waiver period. To resume the member will have to pay a minimum of one month's subscription.</p>
                <h3 class="hdr02 georgia">9. Changes to Terms of Use</h3>
                <p class="colFooterText">Just Books reserves the right, from time to time, with or without notice to you, to change these Terms of Use in our sole and absolute discretion. The most current version of these Terms of Use can be reviewed by clicking on the "Terms of Use" located at the bottom of the pages of the justbooksclc.com Website. The most current version of the Terms of Use will supersede all previous versions. Your continued use of our service after changes are made means that you agree to be bound by such changes.</p>
                <p class="hdr02 georgia">The Terms of Use of Just Books is critical to its survival as a library that provides a unique reading experience. Members are given a copy of this at the time of subscription and Just Books expects strict adherence to the same failing which membership may be cancelled.</p>

        </p>
      </div>
                  
    </div>
  </div>
</div> 