<%= form_for(@serialised_title) do |f| %>
  <% if @serialised_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serialised_title.errors.count, "error") %> prohibited this serialised_title from being saved:</h2>

      <ul>
      <% @serialised_title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
