<h1>Listing serialised_titles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @serialised_titles.each do |serialised_title| %>
  <tr>
    <td><%= link_to 'Show', serialised_title %></td>
    <td><%= link_to 'Edit', edit_serialised_title_path(serialised_title) %></td>
    <td><%= link_to 'Destroy', serialised_title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Serialised title', new_serialised_title_path %>
