<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>
Warm Regards,<br/>
Team Just Books<br/>
<br/>
<b>About JustBooksClc</b><br/>
Just Books is a new generation books library in Bangalore and Mumbai that provides a unique reading experience to book lovers with a wide range of books for every type of reader - Dabblers to Bookworms, Toddlers to Teens, English, Hindi and other regional languages - under a modern, vibrant ambience with effective use of technology. For all book enthusiasts we believe in getting every book a reader and every reader his/her book.
<br/>
</p>
