<div class="input_box">  
  <div class="breadcrumb"> BOOK TALK > SHARE MY TALK </div>

  <%= render 'form' %>

  <div class="span-20 inner_box">
    <%= link_to 'Back', reviews_path %>
  </div>
</div>