<!DOCTYPE html>
<html>
<head>


	<script type="text/javascript">
	    $(document).ready(function() {
	        <%= yield :javascript %>
	    });
	</script>
	
</head>

<body>

	
	<div class="span-24">
		<%= yield %>
	</div>

</body>
</html>
